
.app-background {
    background-size: cover;
    background-repeat: no-repeat;
}

.day-clear {
    background-image: url('../assets/day-clear.jpg');
}

.day-clouds {
    background-image: url('../assets/day-clouds.jpg');
}

.day-snow {
    background-image: url('../assets/day-snow.jpg');
}

.day-rain {
    background-image: url('../assets/rain.jpg');
}

.day-thunderstorm {
    background-image: url('../assets/thunderstorm.jpg');
}

.night-clear {
    background-image: url('../assets/night-clear.jpg');
}

.night-clouds {
    background-image: url('../assets/night-clouds.jpg');
}

.night-snow {
    background-image: url('../assets/night-snow.jpg');
}

.night-rain {
    background-image: url('../assets/rain.jpg');
}

.night-thunderstorm {
    background-image: url('../assets/thunderstorm.jpg');
}


