.react-weather-error-msg {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 20px;
    font-size: 18px;
    font-weight: 400;
    position: relative;

    &__close {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
        border: 1px solid #cc0000;
        padding: 3px;
        border-radius: 100%;
    }
}