.current-weather {
    overflow: hidden;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5));

    &--night {
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
        .current-weather__img {
            filter: invert(100%);
        }
    }

    & > * {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__city-name {
        white-space: nowrap;
        column-span: 2;
        min-width: 160px;
    }

    &__description {
        white-space: nowrap;
    }

    &__temp-max-min,
    &__humidity-wind-speed {
        display: flex;
        flex-direction: column;
        gap: 4px;

        & > span {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 3px;
        }
    }
}