html, body {
    // height: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.test-bg-image {
    background-image: url('../../public/rain.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
